h1 {
    color:deeppink;
}
.title{
    color:chartreuse;
    text-align: center;
}
#first-title{
    color:darkcyan;
    text-align: end;
    text-decoration-line:underline;
}
article > p {
    font-weight: bold;
    background-color:black;
    color:azure;

}
a:link {
    color: green;

}
a:visited {
    color: tomato;

}
div :hover {
    color:tomato;
}
a:active {
    color:blue;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li{
    display: inline;
}